html,
body {


  padding: 0;
  margin: 0;
  /* font-family: 'Times New Roman', Times, serif !important; */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.border-solid {
  border: solid 1px black !important;
}

.text-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.content-div-center {
  display: flex;
  height: 100vh;
  /* Define a altura da div pai */
  justify-content: center;
  /* Centraliza horizontalmente */
  align-items: center;
  /* Centraliza verticalmente */
}

.content-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 991px) {}

.container-login {
  max-width: 600px !important;
}

.container-login-md {
  max-width: 550px !important;
}

.container-login-small {
  max-width: 400px !important;
}



input[type="email"],
[type="number"],
[type="text"],
[type="date"],
[id="sel"],
[id="desc"] {
  border-radius: 3px;
}

.border-one-line {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-radius: 0px !important;
}

.border-simple {
  border-radius: 2% !important;
}


.brd-3 {
  border-radius: 3px !important;
}

.brd-5 {
  border-radius: 5px !important;
}

.brd-10 {
  border-radius: 10px !important;
}

.brd-15 {
  border-radius: 15px !important;
}



.bg-primary-md {
  background-color: #051124 !important;
}

.bg-primary-small {
  background-color: #0d6efd !important;
}


.small-logo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

.medium-logo {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  object-fit: cover;
}


li a {
  font-size: 16px;
}


.hidden-border {
  border: none !important;
}

.hidden-all {
  display: none !important;
}

.hidden-focus:focus {
  box-shadow: none !important;
}

.c-hard-blue {
  background-color: #021641;
}

.c-welcome {
  background-color: #45c1c4;
}

.c-danger {
  color: #dc3545 !important;
}

.c-white {
  color: white !important;
}

.c-warning {
  color: #ffbf00ee !important;
}

.c-info {
  /* color: #0dcaf0 !important; */
  color: #0b3c75 !important;
}

.c-primary {
  color: #0d6efd !important;
  color: var(--d)
}

.c-dark {
  color: #212529 !important;
}

.c-success {
  color: #198754 !important;
}

.c-puple {
  color: #e0a3a3 !important;
}


.text-bold {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 15px !important;
}


.center-center {
  align-items: center !important;
  justify-content: center !important;
}

.animated-info {
  opacity: 0;
  visibility: hidden;
}