html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Times New Roman', Times, serif !important;
  /*font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;*/
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.border-solid {
  border: solid 1px black !important;
}

.content-div-center{
  display: flex;
  height: 100vh; /* Define a altura da div pai */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
}
.content-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 991px) {}

.container-login {
  max-width: 600px !important;
}

.container-login-small {
  max-width: 400px !important;
}



input[type="email"],
[type="number"],
[type="text"],
[type="date"],
[id="sel"],
[id="desc"] {
  border-radius: 3px;
}

.border-one-line {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-radius: 0px !important;
}

.border-simple {
  border-radius: 2% !important;
}


.brd-3 {
  border-radius: 3px !important;
}

.brd-5 {
  border-radius: 5px !important;
}

.brd-10 {
  border-radius: 10px !important;
}

.brd-15 {
  border-radius: 15px !important;
}

.small-logo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}


li a{
  font-size: 16px;
}


.hidden-border {
  border: none !important;
}

.hidden-all {
  display: none !important;
}

.hidden-focus:focus {
  box-shadow: none !important;
}

.c-hard-blue {
  background-color: #021641;
}

.c-welcome {
  background-color: #45c1c4;
}

.c-danger {
  color: #dc3545 !important;
}

.c-white {
  color: white !important;
}

.c-warning {
  color: #ffbf00ee !important;
}

.c-info {
  color: #0dcaf0 !important;
}

.c-primary {
  color: #0d6efd !important;
  color: var(--d)
}

.c-dark {
  color: #212529 !important;
}

.c-success {
  color: #198754 !important;
}


.text-bold {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 15px !important;
}


.center-center {
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
}